# Python virtual environments
.venv/
venv/
env/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Jekyll build/cache
_site/
.jekyll-cache/
.sass-cache/

# OS files
.DS_Store
Thumbs.db
